venv/
venv/*

.env
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
.venv/
.env/
bb_env/
bb_env/*

# Django
staticfiles/
*.sqlite3
db.sqlite3

# Environment variables
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

treelist.txt
